.headerText {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-align: center;
  margin: 1.5rem 0;
  z-index: 10;
  cursor: pointer;
}
